@page "/"
@using TeamRotationActivity.Domain.Models;
@using TeamRotationActivity.Domain.Interfaces.Services

@inject IReadWriteService ActivitySaverService
@inject IRotationService RotationService

<h3>Activity</h3>

<button class="btn btn-primary" @onclick="LoadActivity">Load</button>
<button class="btn btn-primary" @onclick="SaveActivity">Save</button>
<button class="btn btn-primary" @onclick="Rotate">Rotate</button>
<button class="btn btn-primary" @onclick="CheckRotate">CheckRotate</button>
<hr />
@if (activities != null)
{
    @foreach (var activity in activities)
    {
        <h3>@activity.Name</h3>
        <p>@activity.Description</p>
        <p>Last change activity: @activity.LastRotation.ToString("dd/MM/yyyy - HH:mm")</p>
        <p>Next change activity: @activity.NextRotation.ToString("dd/MM/yyyy - HH:mm")</p>
        <p>Дата следующей астивности: @activity.ActivityDate.ToString("dd/MM/yyyy - HH:mm")</p>
        <p>Активность проводит: @GetMemberNextActivity()</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Order</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
            @if (activity.Members != null)
            {
                foreach (var member in activity.Members)
                {
                    <tr>
                        <td>@member.Name @member.LastName</td>
                        <td>
                            <button class="btn btn-primary" @onclick="() => Up(activity, member.Id)">up</button>
                            <button class="btn btn-primary">down</button>
                        </td>
                        <td>@member.Id</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    }
}

@code {
    private List<ActivityWork>? activities = new ();

    protected override async Task OnInitializedAsync()
    {
        activities?.AddRange(await ActivitySaverService.LoadActivitiesFromFileAsync());
    }

    private async Task LoadActivity()
    {
        var activitiesWorks = await ActivitySaverService.LoadActivitiesFromFileAsync();
        activities?.AddRange(activitiesWorks);
    }

    private async Task SaveActivity()
    {
        if (activities != null)
            await ActivitySaverService.SaveActivitiesAsync(activities);
    }

    private void Up(ActivityWork activity, Guid id)
    {
        var members = activity.Members;
        var count = members?.Count;
        var currentMember = members?.Single(m => m.Id.Equals(id));
        if (currentMember != null)
        {
            var currentMemberIndex = members?.IndexOf(currentMember);
            members?.RemoveAt(currentMemberIndex!.Value);
            if (currentMemberIndex == 0 && count > 1)
                currentMemberIndex = (int)(count - 1);        
            members?.Insert(currentMemberIndex!.Value - 1, currentMember);
        }
    }

    private async Task Rotate()
    {
        if (activities != null)
        {
            RotationService.Rotate(activities.First());
        }

        await SaveActivity();
    }

    private void CheckRotate()
    {
        if (activities != null)
        {
            var needRotate = RotationService.NeedRotation(activities.First());
        }
    }

    private string GetMemberNextActivity()
    {
        var member = activities?.FirstOrDefault()?.Members?.FirstOrDefault();

        return member?.LastName + " " + member?.Name;
    }
}
